/* html{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
} */
/*  
    #b98667 коричневый
    #e4bc98 светло-коричневый
    #f7f2f9 белый
    #d6e8f6 голубой-бирюзовый
    #67a6cf голубой
*/


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.body {
    font-family: Antipasto Pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: cursive;
    background: #25241f;
}

/* .bodyContainer {
    font-family: Antipasto Pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: cursive;
    background: #25241f;
} */

.hd1 {
    height: 705px;
    width: 100%;
    color: #f8f9e9;
}

.navb {
    height: 80px;
    width: 100%;
    margin: 0 auto;
}

label.logo {
    /* color: #b98667; */
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    display: inline-block;
    margin-left: 12%;
    list-style: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #f8f9e9;
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.nav-link {
    /* color: #b98667; */
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
}

a.active,a:hover {
    /* color: #e26a1f; */
    color: #049CE4;
    /* color: #c6151b; */
    transition: 0.5s;
    text-decoration: none;
    /* color: #81BECE; */
    /* transition: 0.5s; */
}

.block1 {
    margin: 50px;
    width: 1400px;
    height: 400px;
    display: flex;
    margin-left: 450px;
}

.block1__text1 {
    width: 900px;
    height: 380px;


    /* background: #60bad0; */
}

.block1__text2 {
    width: 900px;
    height: 100px;


    /* background: #169d11; */
}

.block1__text3 {
    margin-top: 30px;
    width: 400px;
    height: 400px;
    display: inline-block;
    margin-left: 70px;

    /* background: #b1ce20; */
}

.block1__text3__a {
    font-size: 45px;
    /* color: #e4bc98; */
    

    padding: 22px 10px;
    border-radius: 10px;
    text-decoration: none;
}

.block1__text3__a:hover {
    color: #049CE4;
    transition: 0.5s;
    text-decoration: none;
}

.block1__text1 h2 {
    font-size: 3.4em;
    padding: 40px 30px;
    /* color: #e4bc98; */
}

.block1__text2 {
    display: inline-block;
}

.block1__text2 h6{
    margin-left: 30px;
    width: 600px;
    padding: 20px 0;
    /* color: #e4bc98; */
    display: inline-block;
}

.btn12 {
    float: right;
    margin-top: 30px;
    padding-right: 80px;
    height: 10px;
    size: 30px;

}

.btn-primary {
    size: 10px;
    border-radius: 22px;
    background: #049CE4;
    border-color: #049CE4;
}

.btn-primary:hover {
    background: #03aaf8;
    border-color: #03aaf8;
}



.card-img-overlay {
    position: absolute;
}
.card-title2 {
    /* margin-top: 115px;  */
    margin-top: 93%; 
    font-size: 1.5em;
}

.card-title2:hover {
    color: #e93740;
    transition: 1.5s;
}

.card-img-top {
    overflow: hidden;
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;  /* Плавное изменение прозрачности и увеличения */
	width: 100%;
	height: auto;
    display: block;
}

.card-img-top:hover {
    opacity: 0.9; /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
    transform: scale(1.05); /* Увеличение картинки */
}

.tt {
    overflow: hidden;
    opacity: 0.7;
    transition: opacity 124ms linear, transform 124ms linear;  /* Плавное изменение прозрачности и увеличения */
	width: 100%;
	height: auto;
    display: block;


}


.tt:hover {
    opacity: 1; /* Высветляем картинку, но она становится темнее, так как под ней черный фон */
    transform: scale(1.05); /* Увеличение картинки */
}

.tt:hover .card-title2{
    color: #e93740;
    transition: 1s;
}


/*
#012E4A     #031544
#036280     #1C3CA1     cd494f
#378BA4     #5B4C97
#81BECE     #BD6267
#E8EDE7
*/

.wrapWindthAll {
    width: 100%;
}

.asd2 {
    margin-bottom: 60px;
}

.asd3 {
    background: #d6c3a5;
    /* background: #25241f; */
    height: 1000px;
    width: 100%;
}


/* .block_footer {
    background: #25241f;
    height: 1000px;
} */
.last {
    background: #25241f;
    height: 1000px;
    color: #d6c3a5;
}

.last_row1 {
    width: 50%;
}

.last_row1 h1 {
    font-size: 6em;
    margin: 50px 0;
}

.last_row1 h3 {
    margin-top: 100px;
}

.last_row1_btn {
    font-size: 2em;
    border-radius: 50px;
    margin: 20px 0;
}

.last_row1_address {
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 45px;
}

.last_row1_number {
    font-size: 3em;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.last_row1_icons {
    /* padding-top: 40px; */
    font-size: 3em;
    color: #d6c3a5 !important;
    margin: 10px 0;
}

.iconsNoBtsp {
    color: #d6c3a5 !important;
    padding: 0 5px;
}

.last_row1_btn {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #f8f9e9;
    /* --bs-btn-bg: #1d1c18; */
    --bs-btn-border-color: none;
    --bs-btn-border-color: #d6c3a5;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: #049CE4;
    --bs-btn-hover-bg: none;
    /* --bs-btn-hover-bg: #1d1c18; */
    --bs-btn-hover-border-color: #049CE4;

    /* --bs-btn-bg: #1d1c18; */
    /* --bs-btn-hover-bg: #1d1c18; */


    /* --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)}; */
  }
